{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Donation form</h2>
            </div>
            {{ form_start(form) }}
            <div class="card-body">
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.amount) }}
                {{ form_row(form.message) }}
            </div>
            <div class="card-footer">
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}
